.divpagFlorista5{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    background: none;
    width: 75%;
}
.referencias{
    
    margin-top: 150px;
    color: black;
    font-family:  "Cormorant Garamond";
    font-size: 90px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.vestidos {
    display: flex;
    justify-content: center;
}

.ternoPlaca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ternoPlaca  img{
    width: 810px;
    height: 863px;
}
.exemplosTernoPlaca{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.exemploTerno1 {
    /* position:absolute; */
    background-color: #B5B9BE;
    border-radius: 50%;
    border:none;
    width: 120px !important;
    height: 120px !important;
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: 20px;
}

.fonteAnastasia2{
    
    /* width: 1080px;
    position: absolute; */
    
    letter-spacing: 8px;
    color: black;
    font-family: 'anastasia-script';
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.padrinhos{    
    display: flex;
    align-self: center;
}
.interroga{
    font-family: 'anastasia-script';
    font-size: 55px;
    
    display: flex;
    align-self: center;
    padding-left: 25px;
    padding-top: 15px;
}

.versiculo{
    font-family: "Cormorant Garamond";
    font-weight: bold;
    color: black;
    font-size: 30px;
}

.nomeData {
    font-family: "Pompiere";
    font-size: 40px;
}

.containerReferencias {
    font-size: 35px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nomeReferencia {
    margin-left: 15px;
}

.cointainerRef{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.cointainerRef a {
    font-size: 30px;
    margin-top: 25px;
}
