



.page-header-user {
    display:flex;
    background-color: var(--color-primary);
    
    justify-content: space-between;
    align-items:center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;    
    margin: 0 auto;
    font: 500 1.4rem Poppins;
}
.user-info{
    display: flex;
    align-items: center;
}


.avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
}

.user-info p{
    margin-left: 1.6rem;
    color: var(--color-text-in-primary);
}

@media(min-width: 700px){
    
    .page-header-user {
        max-width: 1100px;
    }
}