.contentPg2ConviteGeral {    
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.vkComBarraNoMeioPg2 {    
    font-family: 'Quicksand Variable';
    color: #6c704c;
    font-size: 73pt;
    margin-bottom: 40px;
}


.textoInicial {    
    font-family: 'Quicksand Variable';
    color: #6c704c;
    font-size: 25pt;
}

.bencaoPais {
    margin-top: 100px;
    font-family: 'Quicksand Variable';
    color: #6c704c;
    font-size: 25pt;
    width: 100%;
}

.pais {
    width: 100%;
    font-family: 'Quicksand Variable';
    color: #6c704c;
    font-size: 22pt;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


.nomesPag2 {
    font-family: 'Playfair Display Variable';
    font-size: 116pt;
    color: #6c704c;
    margin-top: 60px;
    margin-bottom: 50px;
    /* line-height: 1.2; */

}

.dataEEndereco {
    display: flex;
    margin-top: 120px;
    margin-left: 40px;
}

.data {    
    font-family: 'Quicksand Variable';
    color: #6c704c;
    font-size: 91.3pt;
    line-height: 1.0;
    text-align: center;
    border-right: 4pt solid #6c704c;
    padding-right: 45px;
    padding-top: 10px;
    margin-right: 25px;
}

.horas {
    font-size: 50pt;
}

.endereco {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.cerimonial {    
    font-family: 'Quicksand Variable';
    font-weight: 700;
    color: #6c704c;
    font-size: 33.8pt;
    margin-top: 40px;
}

.localRuaNum {    
    font-family: 'Quicksand Variable';
    font-weight: normal;
    color: #6c704c;
    font-size: 33.8pt;
}
.iconesPg2{
    margin-top: 100px;
    
}
.cliqueIcones, .cliqueIcones {
    font-family: 'Quicksand Variable';
    color: #6c704c;
    font-size: 23.8pt;
}
.localizacaoEConfirmar{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.imagemIconePg2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid black;
    width: 400px;
    height: 400px;
    margin-top: 25px;
}

.imagemIconePg2 img{
    width: 300px;
}

.iconepg2{
    font-family: 'Quicksand Variable';
    font-weight: 700;
    color: #6c704c;
    font-size: 23.8pt;
}

.paraQueVejam{    
    font-family: 'Quicksand Variable';
    margin-top: 150px;
    margin-bottom: 150px;
    color: #6c704c;
    font-size: 23.8pt;
}