.page-forgot-password main{
    height: 100%;
    flex:1;
    display: flex;
    flex-direction: column;
   
}
.page-forgot-password{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.page-forgot-password .mainContent{
    width: 35.2rem;
    height: 100%;
   
    
}
.page-forgot-password  .mainContent form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.page-forgot-password  header{    
    
    margin-top: 1.6rem;
    
}

.page-forgot-password .mainContent h1{
    font-size: 3.6rem;
    line-height: 3.4rem;
    font-weight: 600;    
    color: var(--color-text-title);
    margin-bottom: 2.1rem;

}
.page-forgot-password .mainContent p{
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: normal;
    
    color:var(--color-text-title);
    margin-bottom: 4rem;

}
.page-forgot-password .inputsContainer{
    width: 100%;
    margin-bottom: 4.0rem;
}
.inputsContainer .inputFloatLabel-block input{
   
    border-radius: 0.8rem;
}



.inputFloatLabel-block{
    width: 100%;
    margin-top: 0rem !important;
    
}

.inputsContainer{
    margin-bottom: 4.0rem;
}


.insideButtonFiled {
    color: var(--color-button-text);
    background: var(--color-secondary);
}
.insideButtonFiled:hover{
    background: var(--color-secondary-dark);
}


