.divpagDama3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    background: none;
    width: 75%;
}
.nomeDama{
    /* position: absolute;
    top: 310px; */
    /* left: 150px; */
    margin-top: 100px;
    color: black;
    font-family: 'anastasia-script';
    font-size: 120px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.vestidos {
    display: flex;
    justify-content: center;
}

.noivinhaPlaca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noivinhaPlaca  img{
    /* margin-top: 50px; */
    width: 810px;
    height: auto;
}


.exemploVestido1 {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 50%;
    border:none;
    width: 120px !important;
    height: 120px !important;
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: 25px;
    left: 200px;
    top: 150px;
}

.fonteAnastasia2{
    
    /* width: 1080px;
    position: absolute; */
    
    letter-spacing: 8px;
    color: black;
    font-family: 'anastasia-script';
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.padrinhos{    
    display: flex;
    align-self: center;
}
.interroga{
    font-family: 'anastasia-script';
    font-size: 55px;
    
    display: flex;
    align-self: center;
    padding-left: 25px;
    padding-top: 15px;
}

.versiculo{
    font-family: "Cormorant Garamond";
    font-weight: bold;
    color: black;
    font-size: 30px;
}

.nomeData {
    font-family: "Pompiere";
    font-size: 40px;
}

