.fonteAnastasia{
    position: fixed;
    top: 310px;
    left: 150px;

    color: black;
    font-family: 'anastasia-script';
    font-size: 120px;
    /* width: 100%; */

}

.fonteAnastasia2{
    position: fixed;
    top: 1025px;
    left: 150px;
    letter-spacing: 8px;
    color: black;
    font-family: 'anastasia-script';
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */

}
.padrinhos{    
    display: flex;
    align-self: center;
}
.interroga{
    font-family: 'anastasia-script';
    font-size: 65px;
    
    display: flex;
    align-self: center;
    padding-left: 25px;
    padding-top: 15px;
}