.fonteAnastasia{
    position: absolute;
    top: 310px;
    /* left: 150px; */

    color: black;
    font-family: 'anastasia-script';
    font-size: 120px;
    width: 1080px;
    display: flex;
    justify-content: center;

}

.fonteAnastasia2{
    
    width: 1080px;
    position: absolute;
    top: 1025px;
    letter-spacing: 8px;
    color: black;
    font-family: 'anastasia-script';
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.padrinhos{    
    display: flex;
    align-self: center;
}
.interroga{
    font-family: 'anastasia-script';
    font-size: 65px;
    
    display: flex;
    align-self: center;
    padding-left: 25px;
    padding-top: 15px;
}