.divpagDama3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    background: none;
    width: 75%;
}
.nomeDama{
    /* position: absolute;
    top: 310px; */
    /* left: 150px; */
    margin-top: 100px;
    color: black;
    font-family: 'anastasia-script';
    font-size: 120px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.exemplosPlaca{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 40px;
}
.vestidosPlaca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exemploPlaca1 {
    /* position:absolute; */
    background-color: #ffffff;
    border-radius: 50%;
    border:none;
    width: 120px;
    height: 120px; 
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: 20px;
}
.exemploPlaca2 {
    /* position:absolute; */
    background-color: #636B2F;
    border-radius: 50%;
    border:none;
    width: 120px;
    height: 120px; 
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: 20px;
}
.vestidosPlaca img{
    width: 810px;
    height: 863px;
}
.fonteAnastasia2{
    
    /* width: 1080px;
    position: absolute; */
    
    letter-spacing: 8px;
    color: black;
    font-family: 'anastasia-script';
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.padrinhos{    
    display: flex;
    align-self: center;
}
.interroga{
    font-family: 'anastasia-script';
    font-size: 55px;
    
    display: flex;
    align-self: center;
    padding-left: 25px;
    padding-top: 15px;
}

.versiculo{
    font-family: "Cormorant Garamond";
    font-weight: bold;
    color: black;
    font-size: 30px;
}

.nomeData {
    font-family: "Pompiere";
    font-size: 40px;
}

